.resultBox {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 500px;
}

.resultSection {
	margin-bottom: 20px;
}

.goodResult {
	border-left: 2px solid green;
	background-color: lightgreen;
	margin: 5px;
}

.badResult {
	border-left: 2px solid red;
	background-color: lightpink;
	margin: 5px;
}

.resultMessage {
	text-align: left;
}

.scoreBox {
	font-weight: bold;
	font-size: large;
}