@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>First Time?<p>
    <p><a>Get a quote</a><p>
    <p>Been here before?</p>
    <p><a>Login</a><p>
</div>
