@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="border"></div>
</div>
<div class="options">
    <div class="optionButton"><a asp-page="/QuoteForm" class="btn btn-primary" role="button">Get a quote</a></div>
    <div class="optionButton"><a asp-page="/UserPage" class="btn btn-primary" role="button">Log in</a></div>
</div></div>
