@page
@model QuoteFormModel
@{
    ViewData["Title"] = "New quote";
}

<head>
    <link rel="stylesheet", href="css/quote.css"/>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/quote.js" type="text/javascript"></script>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Get a quote</h1>
        <div class="border"></div>
        <form id="quoteForm" asp-page="/QuoteResult" method="post">
            <fieldset id="personalInformation">
                <h2 class="formSectionHeading">First, tell us about you.</h2>
                <div class="formRow">
                    <label class="formRowLabel">First name:</label>
                    <input asp-for="QuoteRequest.FirstName" class="formRowInput" type="text" id="firstName" name="firstName"/>
                </div>
                <div class="formRowTight" style="display:none" id="firstNameError">
                    <small class="formErrorLabel id="firstNameErrorLabel>You must provide a last name</small>
                </div>
                <div class="formRow">
                    <label class="formRowLabel">Last name:</label>
                    <input asp-for="QuoteRequest.LastName" class="formRowInput" type="text" id="lastName" name="lastName"/>
                </div>
                <div class="formRowTight" style="display:none" id="lastNameError">
                    <small class="formErrorLabel id="lastNameErrorLabel>You must provide a last name</small>
                </div>
                <div class="formRow">
                    <label class="formRowLabel">Email address:</label>
                    <input asp-for="QuoteRequest.EmailAddress" class="formRowInput" type="text" id="emailAddress" name="emailAddress"/>
                </div>
                <div class="formRowTight" style="display:none" id="emailAddressError">
                    <small class="formErrorLabel id="emailAddressErrorLabel>You must provide a valid email</small>
                </div>
                <div class="formRow">
                    <label class="formRowLabel">Favourite pizza topping:</label>
                    <input asp-for="QuoteRequest.Topping" class="formRowInput" type="text" id="topping" name="topping" onkeydown="return /[a-zA-Z]/i.test(event.key)"/>
                </div>
                <div class="formRowTight" style="display:none" id="toppingError">
                    <small class="formErrorLabel id="toppingErrorLabel>Toppings must be at least 3 characters long, and must not be pineapple</small>
                </div>
            </fieldset>
            <fieldset id="financialInformation" style="display:none">
                <h2 class="formSectionHeading">Now we need to get serious.</h2>
                <div class="formRow">
                    <label class="formRowLabel">Annual income (in Emeralds):</label>
                    <input asp-for="QuoteRequest.Income" class="formRowInput" type="number" min="1" step="any" id="income" name="income" value="1"/>
                </div>
                <div class="formRowTight" style="display:none" id="incomeError">
                    <small class="formErrorLabel id="incomeErrorLabel>Income must be a number between 0 and 1000000</small>
                </div>
                <div class="formRow">
                    <label class="formRowLabel">Do you impulse buy?</label>
                    <select asp-for="QuoteRequest.ImpulseBuys" class="formRowInput" name="impulseBuys" id="impulseBuys">
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
                <div class="formRow">
                    <label class="formRowLabel">Monthly silly hat expenditure:</label>
                    <input asp-for="QuoteRequest.SillyHatSpend" class="formRowInput" type="number" min="1" step="any" id="sillyHatSpend" name="sillyHatSpend" value="1"/>
                </div>
                <div class="formRowTight" style="display:none" id="sillyHatSpendError">
                    <small class="formErrorLabel id="sillyHatSpendErrorLabel>Silly hat expenditure must be a number between 1 and 10000</small>
                </div>
            </fieldset>
            <input class="submitButton" type="submit" value="Submit" id="submitButton" disabled>
        </form>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}